:root {
  --primary: #ffffff;
  --bg: #490909;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--bg);
  color: #ffffff;
}

/* navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.4rem 7%;
  background-color: rgba(255, 252, 252, 0.8);
  border-bottom: 1px solid var(--primary);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.navbar .navbar-logo {
  font-size: 2rem;
  font-weight: 700;
  color: #580a0a;
  font-style: italic;
}

.navbar .navbar-logo span {
  color: var(--primary);
}

.navbar .navbar-nav a {
  color: var(--bg);
  display: inline-block;
  font-size: 1rem;
  margin: 0 1rem;
}

.navbar .navbar-nav a:hover {
  color: #ffffff;
}

.navbar .navbar-nav a::after {
  content: "";
  display: block;
  padding-bottom: 0.5rem;
  border-bottom: 0.1rem solid var(--bg);
  transform: scaleX(0);
  transition: 0.2s linear;
}

.navbar .navbar-nav a:hover::after {
  transform: scaleX(0.5);
}

.navbar .navbar-extra a {
  color: var(--bg);
  margin: 0 0.5rem;
}

.navbar .navbar-extra a:hover {
  color: #ffffff;
}

#hamburger-menu {
  display: none;
}

/* search form */
.navbar .search-form {
  position: absolute;
  top: 100%;
  right: 7%;
  background-color: white;
  display: flex;
  width: 50rem;
  height: 3.5rem;
  align-items: center;
  transform: scaleY(0);
  transform-origin: top;
  transition: 0.3s;
}

.navbar .search-form.active {
  transform: scaleY(1);
}

.navbar .search-form input {
  height: 100%;
  width: 100%;
  padding: 1rem;
  font-size: 1.6rem;
  background-color: var(--primary);
}

.navbar .search-form label {
  cursor: pointer;
  font-size: 2rem;
  color: var(--bg);
}

/* shopping bag section */

#shopping-bag-button {
  position: relative;
}

#shopping-bag-button .bag-count {
  display: inline-block;
  padding: 1px 5px;
  background-color: #ff0000;
  border-radius: 6px;
  font-size: 0.8rem;
  position: absolute;
  top: -0px;
  right: -10px;
}

.shopping-bag {
  position: absolute;
  top: 100%;
  right: -100%;
  width: 30rem;
  height: 100vh;
  color: var(--bg);
  padding: 0 1.5rem;
  background-color: rgba(255, 255, 255, 0.9);
  transition: 0.3s;
}

.shopping-bag.active {
  right: 0;
}

.shopping-bag .bag-item {
  margin: 2rem 0;
  display: flex;
  align-items: center;
  gap: 1.5rem;
  padding-bottom: 1rem;
  border-bottom: 1px dashed var(--bg);
  position: relative;
}

.shopping-bag img {
  height: 7rem;
  border-radius: 50%;
}

.shopping-bag h3 {
  font-size: 1.5rem;
  padding-bottom: 0.5rem;
}

.shopping-bag p {
  font-size: 1.3rem;
}

.shopping-bag .bag-item #add,
.shopping-bag .bag-item #remove {
  display: inline-block;
  padding: 2px 5px;
  cursor: pointer;
  margin: 0 8px;
  background-color: var(--bg);
  color: #ffffff;
  font-weight: bold;
  font-size: 1.1rem;
}

/* hero section */
.hero {
  min-height: 100vh;
  display: flex;
  align-items: center;
  background-image: url("../img/header 4.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

.hero::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 30%;
  bottom: 0;
  background: linear-gradient(
    0deg,
    rgba(73, 9, 9, 1) 3%,
    rgba(255, 255, 255, 0) 25%
  );
}

.hero .content {
  padding: 1.4rem 7%;
  max-width: 60rem;
}

.hero .content h1 {
  font-size: 5rem;
  font-weight: 700;
  color: #ffffff;
  text-shadow: 5px 5px 3px rgba(1, 1, 3, 0.5);
}

.hero .content h1 span {
  color: rgb(48, 10, 8);
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.8),
    /* Lapisan cahaya lembut */ 0 0 20px rgba(255, 255, 255, 0.6),
    /* Lapisan cahaya lebih besar */ 0 0 30px rgba(255, 255, 255, 0.4),
    /* Lapisan cahaya luar */ 0 0 40px rgba(255, 0, 0, 0.6),
    /* Warna merah bersinar */ 0 0 70px rgba(255, 0, 0, 0.8); /* Warna merah lebih intens */
}

.hero .content p {
  font-size: 1.5rem;
  margin-top: 1rem;
  line-height: 1.5;
  font-weight: 300;
  text-shadow: 5px 5px 3px rgba(1, 1, 3, 0.5);
  /* mix-blend-mode: difference; */
}

.hero .content .cta {
  display: inline-block;
  margin-top: 1rem;
  padding: 1rem 1rem;
  background-color: var(--bg);
  color: #ffffff;
  font-size: 1.5rem;
  border-radius: 0.5rem;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}

.about,
.menu,
.products,
.contact {
  padding: 8rem 7% 1.4rem;
}

.about h2,
.menu h2,
.products h2,
.contact h2 {
  text-align: center;
  font-size: 2.6rem;
  margin-bottom: 3rem;
}

.about h2 span,
.products h2 span,
.contact h2 span {
  color: rgb(255, 172, 142);
}

.about .row {
  display: flex;
}

.about .row .img {
  flex: 1 1 45rem;
}

.about .row .about-img img {
  width: 100%;
  -webkit-mask-image: url(../img/aboutUS.svg);
  -webkit-mask-size: 90%;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;
}

.about .row .content {
  flex: 1 1 35rem;
  padding: 0 2rem;
}

.about .row .content h3 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.about .row .content p {
  margin-bottom: 0.8rem;
  font-size: 1.5rem;
  line-height: 1.4;
  font-weight: 300;
}

/* Menu section */

.menu h2 {
  text-decoration: underline;
  text-decoration-color: rgb(255, 172, 142);
  margin-bottom: 1rem;
}

.menu p,
.products p,
.contact p {
  text-align: center;
  max-width: 30rem;
  margin: auto;
  font-weight: 300;
  line-height: 1.6;
}

.menu .row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 3rem;
}

.menu .row .menu-item {
  text-align: center;
  padding-bottom: 2rem;
}

.menu .row .menu-item img {
  border-radius: 50%;
  width: 80%;
}

.menu .row .menu-item .menu-item-name {
  margin-top: 1rem auto 1.5rem;
}

/* prdouct section */
.products .row {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  gap: 1.5rem;
  margin-top: 3rem;
}

.products .product-item {
  text-align: center;
  border: 1px solid var(--primary);
  padding: 2rem;
}

.products .product-icons {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}

.products .product-icons a {
  width: 2rem;
  height: 2rem;
  color: var(--primary);
  margin: 0.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.products .product-icons a:hover {
  color: #ffffff;
  background-color: var(--bg);
  border: 1px solid #ffffff;
  border-radius: 50%;
}

.products .product-img {
  display: flex;
  justify-content: center;
  padding: 1rem 0;
}

.products .product-img img {
  height: 20rem;
}

.products .product-price {
  font-size: 1.3rem;
  font-weight: bold;
}

.products .product-price span {
  text-decoration: line-through;
  font-weight: lighter;
  font-size: 1rem;
}

/* Contact section */
.contact h2 {
  margin-bottom: 1rem;
}

.contact .row {
  display: flex;
  margin-top: 2rem;
  background-color: #7a3e3e;
  flex-wrap: wrap;
}

.contact .row .maps {
  flex: 1 1 40rem;
  width: 100%;
  object-fit: cover;
}

.contact .row form {
  flex: 1 1 40rem;
  padding: 5rem 2rem;
  text-align: center;
}

.contact .row form input-group {
  display: flex;
  align-items: center;
}

.contact .row form input-group input {
  width: 100%;
  padding: 2rem;
  font-size: 1.7rem;
  background-color: var(--bg);
  color: #ffffff;
}

.contact .row form .btn {
  display: inline-block;
  margin-top: 3rem;
  padding: 1rem 3rem;
  font-size: 1.7rem;
  color: #ffffff;
  background-color: var(--bg);
  cursor: pointer;
}

/* footer */
footer {
  padding: 2rem 7%;
  background-color: var(--primary);
  text-align: center;
  padding: 1rem 0;
  margin-top: 3rem;
}

footer .socials {
  padding: 1 rem 0;
}

footer .socials a {
  color: var(--bg);
  margin: 1rem;
}

footer .socials a:hover {
  color: rgb(255, 172, 142);
}

footer .copyright {
  color: black;
  font-weight: 400;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

/* modal box */
/* item detail */
.modal {
  display: none;
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-container {
  position: relative;
  background-color: #fefefe;
  color: var(--bg);
  margin: 15% auto;
  padding: 1.2rem;
  border: 1px solid #888;
  width: 75%;
  height: fit-content;
  animation: animatemodal 0.5s;
}

.modal-container .close-icon {
  color: var(--bg);
  position: absolute;
  top: 1rem;
  right: 1rem;
}

/* modal animation */
@keyframes animatemodal {
  from {
    opacity: 0;
    transform: translateY(-50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.modal-container .close-icon:hover {
  color: #ff0000;
}

.modal-content {
  display: flex;
  flex-wrap: nowrap;
}

.modal .modal-content img {
  height: 18rem;
  width: 15rem;
  margin-right: 2rem;
  margin-bottom: 2rem;
}

.detail-content h3 {
  margin: 2rem 0 1rem;
}

.detail-content p {
  font-size: 1.5rem;
  line-height: 1.5;
  margin-top: 1.2rem;
  margin-bottom: 1.2rem;
}

.detail-content a {
  display: flex;
  gap: 2rem;
  width: 12rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 1rem 3rem;
  color: var(--bg);
  align-items: center;
}

.detail-content .product-price {
  font-size: 1rem;
  font-weight: bold;
}

.detail-content .product-price span {
  text-decoration: line-through;
  font-weight: lighter;
  font-size: 1rem;
}

/* media queries */
/* laptop */
@media (max-width: 1366px) {
  html {
    font-size: 75%;
  }
}

/* tablet */
@media (max-width: 768px) {
  html {
    font-size: 62.5%;
  }

  #hamburger-menu {
    display: inline-block;
  }

  .navbar .navbar-nav {
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: rgba(255, 255, 255, 0.8);
    width: 30rem;
    height: 100vh;
    transition: 0.3s;
  }

  .navbar .navbar-nav.active {
    right: 0;
  }

  .navbar .navbar-nav a {
    color: var(--bg);
    display: block;
    margin: 1.5rem;
    padding: 0.5rem;
    font-size: 2rem;
  }

  .navbar .navbar-nav a::after {
    transform-origin: 0 0;
  }

  .navbar .navbar-nav a:hover:after {
    transform: scaleX(0.2);
  }

  .navbar .search-form {
    width: 90%;
    right: 2rem;
  }

  .about .row {
    flex-wrap: wrap;
  }

  .about .row .about-img img {
    height: 24rem;
    object-fit: cover;
    object-position: center;
  }

  .about .row .content {
    padding: 0;
  }

  .about .row .content h3 {
    margin-top: 1rem;
    font-size: 2rem;
  }

  .about .row .content p {
    font-size: 1.2rem;
  }

  .menu p {
    font-size: 1.2;
  }

  .contact .row {
    flex-wrap: wrap;
  }

  .contact .row .maps {
    height: 25rem;
  }

  .contact .row form {
    padding: 1rem 3rem;
  }

  .modal-content {
    flex-wrap: wrap;
  }
}

/* phone */
@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
}
